<div class="container">
    <div class="container-contdown">
        <h1>
           {{temporizador.tempoConvertString}}
        </h1>
        <div *ngIf="contagemIniciada == false">
            <button (click)="inicarContagem()">Iniciar</button>
        </div>
        <br>
        <div *ngIf="pararCronometro == true">
            <button (click)="continuarContagem()">Continuar</button>
        </div>
        <br>
        <div *ngIf="pararCronometro == false && contagemIniciada == true ">
            <button (click)="pararContagem()">Stop</button>
        </div>
    </div>
</div>